#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.filters {
  margin-top: 20px;
}

.tasks {
  padding: 0;
}

.task {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.task label {
  display: flex;
  align-items: center;
}

.task-check {
  display: flex;
  flex-direction: row;
}

.task-check input {
  margin-right: 10px;
}
